.activity-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    flex-direction: column;
    gap: 10px;
}

.activity-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.avatar-button {
    background-color: #F5EFFF !important;
    color: #4335A7 !important;
}

.update-button {
    background-color: #E5D9F2 !important;
    color: #A594F9 !important;
    transition: background-color 0.3s ease !important;
    box-shadow: none !important;
}

.update-button:hover {
    background-color: #A594F9 !important;
    color: #E5D9F2 !important;
}

.update-label {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.update-input {
    margin-top: 10px !important;
    color: #E5D9F2;
}

.input-label {
    margin-bottom: 10 px !important;
    text-align: center !important;
}

.todo-text {
    color: #ffffff !important;
    text-align: center ;
}

.deadline-text {
    color: #ffffff !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    margin-top: 10px;
}

